

.title-container {
    position: relative;
    text-align: center;
    color:white;
    width:60%;
    img{
        opacity:0.7;
    }
  }
  img{
    margin:5rem;
    max-width:80%;
  }
  h1 {
    .header-font();
    z-index:100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  button{
   .button-styling();
  }

  .artists-container{
      display:flex;
  }

  .artist{
      margin:1rem;
      max-width:25%;
      flex-wrap:no-wrap;
      img{
        border-radius:5%;
      }
  }

  .bio{
    .font();
    display:flex;
    justify-content:center;
}
a{
    .link-styling();
}